In [237]:
#importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [238]:
#getting the dataframes I've created
df_ottawa = pd.read_csv('Ottawa.csv')
df_san_francisco = pd.read_csv('San Francisco.csv')

In [239]:
df_ottawa.head()

,Listing Name,Listing Price,Listing Details
0,❤ Chic Guest Suite with Parking & Private Sunroom,$198 CAD,2 guests · 1 bedroom · 1 bed · 1 bath
1,Longterm Rental Modern Dwntwn Condo w/ Gardenview,$105 CAD,2 guests · 1 bedroom · 2 beds · 1 bath
2,Beautiful Loft - Downtown Ottawa (free parking),$88 CAD,2 guests · Studio · 1 bed · 1 bath
3,The Bowery Condos + Lofts Next Level Suites!,$102 CAD,1 guest · Studio · 1 bed · 1 bath
4,Entire 1-bedroom Ottawa Center Byward Market (...,$114 CAD,2 guests · 1 bedroom · 1 bed · 1 bath

In [240]:
df_san_francisco.head()

,Listing Name,Listing Price,Listing Details
0,Retreat to Modern Suite in The Castro with Garden,$326 CAD,2 guests · 1 bedroom · 1 bed · 1 bath
1,"Relaxing and private, with views!",$166 CAD,2 guests · 1 bedroom · 1 bed · 1 bath
2,Mana's Place: Private Entrance Apartment,$95 CAD,2 guests · 1 bedroom · 1 bed · 1 bath
3,Ukulele Room,$62 CAD,2 guests · 1 bedroom · 2 beds · 1.5 shared baths
4,BARTLETT QUEEN,$163 CAD,2 guests · Studio · 1 bed · 1 private bath

In [241]:
#cleaning the ottawa data
df_ottawa['Listing Price in CAD$'] = df_ottawa['Listing Price'].str.extract('(\d+)')
del df_ottawa['Listing Price']
df_ottawa['Guests'] = df_ottawa['Listing Details'].str[0]
del df_ottawa['Listing Details']
df_ottawa.head()

,Listing Name,Listing Price in CAD$,Guests
0,❤ Chic Guest Suite with Parking & Private Sunroom,198,2
1,Longterm Rental Modern Dwntwn Condo w/ Gardenview,105,2
2,Beautiful Loft - Downtown Ottawa (free parking),88,2
3,The Bowery Condos + Lofts Next Level Suites!,102,1
4,Entire 1-bedroom Ottawa Center Byward Market (...,114,2

In [242]:
#cleaning the san francisco data
df_san_francisco['Listing Price in CAD$'] = df_san_francisco['Listing Price'].str.extract('(\d+)')
del df_san_francisco['Listing Price']
df_san_francisco['Guests'] = df_san_francisco['Listing Details'].str[0]
del df_san_francisco['Listing Details']
df_san_francisco.head()

,Listing Name,Listing Price in CAD$,Guests
0,Retreat to Modern Suite in The Castro with Garden,326,2
1,"Relaxing and private, with views!",166,2
2,Mana's Place: Private Entrance Apartment,95,2
3,Ukulele Room,62,2
4,BARTLETT QUEEN,163,2

In [243]:
#unifying the number of guests in the ottawa data to just 2
indexes = df_ottawa[df_ottawa['Guests'] == '1' ].index
df_ottawa.drop(indexes, inplace=True)
df_ottawa.head()

,Listing Name,Listing Price in CAD$,Guests
0,❤ Chic Guest Suite with Parking & Private Sunroom,198,2
1,Longterm Rental Modern Dwntwn Condo w/ Gardenview,105,2
2,Beautiful Loft - Downtown Ottawa (free parking),88,2
4,Entire 1-bedroom Ottawa Center Byward Market (...,114,2
5,RETRO LIVING/MODERN VIBE - DOWNTOWN - FREE PAR...,118,2

In [245]:
#unifying the number of guests in the san francisco data to just 2
indexes = df_san_francisco[df_san_francisco['Guests'] == '1' ].index
df_san_francisco.drop(indexes, inplace=True)
df_san_francisco.head()

,Listing Name,Listing Price in CAD$,Guests
0,Retreat to Modern Suite in The Castro with Garden,326,2
1,"Relaxing and private, with views!",166,2
2,Mana's Place: Private Entrance Apartment,95,2
3,Ukulele Room,62,2
4,BARTLETT QUEEN,163,2